:root {
    --main-color: #A46E61;
    --accent-color: #F1F2F2;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 270px;
}

.info-bar {
    position: fixed;
    bottom: 0px;
    background-color: var(--accent-color);
    color: var(--main-color);
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
}

.top-container {
    background-image: url(boho.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh; 
    height: 100svh;
}

#company-name {
    text-decoration: none;
    font-size: 50px;
    position: relative;
    margin-left: 15px;
    color: var(--main-color);
    font-family: 'Bagel Fat One', cursive;
}

.quote {
    height: 80vh;
    height: 80svh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-color);
    font-family: 'Bagel Fat One', cursive;
    font-size: 100px;
}

.distance-container {
    background-color: var(--main-color);
    color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.distance-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
}

.chicago {
    justify-content: left;
    text-align: left;
    padding-left: 50px;
    max-width: 1100px;
}

.detroit {
    justify-content: right;
    text-align: right;
    padding-right: 50px;
    max-width: 1100px;
}

.hour {
    font-family: 'Bagel Fat One', cursive;
    font-size: 90px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.info-container {
    background-color: var(--main-color);
    color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 30px;
    display: grid;
}

.text1, .text3 {
    grid-column: 1 / 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;
    max-width: 600px;
    padding-left: 20%;
    padding-right: 10%;
}

.img-container1, .img-container3 {
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: left;
    padding-right: 30px;
}

.text2 {
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;
    max-width: 600px;
    padding-right: 20%;
    padding-left: 10%;
}

.img-container2 {
    grid-column: 1 / 2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: right;
    padding-left: 30px;
}

.footer {
    background-color: var(--accent-color);
    display: flex;
    width: 100%;
}

.logo img {
    height: 120px;
    width: 135px;
}

.address, #address {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #A46E61;
}

.social-media {
    width: 100%;
}

#social-media {
    position: relative;
    left: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #A46E61;
    text-decoration: none;
}

.buffer{
    height: 25px;
}

@media (max-width: 500px) {   
    #company-name {
        font-size: 35px;
        position: relative;
        display: block;
        text-align: center;        
        margin-left: 0px;
    }
    .quote {
        font-size: 70px;
    }
    .distance-container {
        font-size: 20px;
    }
    .distance-info {
        padding-top: 20px;
    }
    .hour {
        font-size: 40px;
    }
    .chicago {
        justify-content: center;
        text-align: center;
        padding-left: 0px;
    }
    .detroit {
        justify-content: center;
        text-align: center;
        padding-right: 0px;
    }

}
